/*============================
            HEADER
==============================*/

header { 
    background: transparent !important;
    // background: rgba(0,0,0,0) !important;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 8rem;
    color: $font-color1;


}

.header_container {
    // background: white!important;
    background: rgba(0,0,0,0) !important;
    width: 80%;
    margin: 0 auto;
    height: 8rem;
    color: $font-color1;
    display: block;
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;


    @media only screen and (max-width: $bp-medium) {
        display: flex;
        flex-direction: column;
        height: 20rem;
    }

    nav {
        // background: rgb(143, 35, 35) !important;
        // width: 100rem;
        margin: 0 auto;

        .navbar {
            display: flex !important;
            justify-content: center;

            @media only screen and (max-width: $bp-medium) {
                width: 100%;
                margin: 0;
                // display: flex;
                // flex-direction: column;
                height: 10rem;
            }
        }
        
        a{
            margin: 0 1rem; 
            color: $font-color1 !important;
            font-size: 1.4rem;
    
            &:hover {
                color: $font-color2 !important;
            }
        }


    
        .nav-link:hover {
            color: $font-color2;
        }
    }
    
    .language_selector_container {
        background-color: transparent;
        // border: 1px solid;
        width: 8rem;
        height: 100%;
        // height: 6rem;
        align-self: center;
        font-size: 2rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        // padding-bottom: 1rem;
        // border-radius: $border-radius-standard;

        svg {
            font-size: 2.5rem;
            margin-right: 1rem;
        }

        .Dropdown-root {
            font-size: 1rem;

            .Dropdown-control{
                border:1px solid white;
                border-radius: $border-radius-standard;
                background: transparent;
                color: white;
            }

            .Dropdown-menu {
                background: transparent;
            }

            .Dropdown-option {
                color: white;
                background: transparent;
            }

            .Dropdown-option.is-selected {
                color: $font-color2;
            } 
        }
    }
}

.dropdown-menu {
    a {
        color:black !important;
    }
}

.dropdown-item {
    margin: 0 !important;
    background-color: rgba(0,0,0,0);

    &:active {
        color: black !important;
    }
}