/* Remove controls from Firefox */
input[type=number] {
    -moz-appearance: textfield;
  }

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }  

  /* Remove controls from Safari and Chrome */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; /* Removes leftover margin */
}

/* Adds a box around the numeric value in Safari and Chrome */
// input[type=number]::-webkit-textfield-decoration-container {
//     border: 1px #ccc solid;
//     background: #efefef;
  // }

  /* Remove controls from Firefox */ 
input[type=number] {
    -moz-appearance: textfield;
  }
  
  /* Re-applies the controls on :hover and :focus */
  // input[type="number"]:hover,
  // input[type="number"]:focus {
  //   -moz-appearance: number-input;
  // }