// FONT RELATED
$default-font: 'Open Sans', sans-serif;
$font2: 'Anton', 'Arial Bold', sans-serif;

$font-color1: #ffffff;
$font-color2: #39d3db; //blue
$font-color3: #e7eb05; //yellow
$font-color4: #2b2b2b; //yellow

// BREAKPOINTS
$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px

// BORDER
$border-radius-standard: 4px;
$border-container: #d5d5d5;