.black_div {
    height: 100vh;
    width: 100vw;
    

    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;

    h1 {
        color: white;
    }

    a:hover, h1:hover, &:hover {
        text-decoration: none;
        cursor: default;
        color: white;
    }

}