.group_container {

    color: $default-color;
    font-size: 1.2rem;

    h1 {
        font-size: 3rem;
        // margin-top: 2rem;
        color: $default-color;
    }

    .form_divider {
        margin-top: 2rem;
        border-bottom: 2px solid $color-grey-light-2;
    }

    .groups_list_container {
        background-color: white;
        padding: 1rem;
        margin-top: 2rem;
        border: 1px solid $border-container;
        
        // .table_small_image {
        //     display: flex;
        //     justify-content: center;
        // }
        
        // th {
        //     font-size: 1.5rem;
        //     font-weight: 700;
        // }

        // .td_name_link {
            
        //     a {
        //         cursor: pointer;
        //         &:hover {
        //             color: $color-special-blue;
        //             text-decoration: none;
        //             font-weight: 700;
        //         }
        //     }
            
        // }

        // .td_simple_icon {
            
        //     svg {

        //         &:hover
        //         {
        //             cursor: default
        //         };
        //     }
            
        // }

        // .td_admin_icon {
        //     text-align: center;
        // }

        // .table_thumb {
        //     height:3rem;
        //     width: 3rem;
        //     border-radius: 50px;
        //     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        //     padding: 1rem;
        //     background-position: center !important;
        //     background-size: cover !important;
        // }

        // svg {
        //     width: 2.5rem;
        //     height: 2.5rem;
            
        //     &:hover {
        //         cursor: pointer;
        //     }
            
        // }
}

    

    .add_new_wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 1rem;

        button {
            margin-top: 0;
            margin-left: 1rem;
            width: 4rem;
            height: 4rem;
            border-radius: 3rem;
            font-size: 1.5rem;
            background-color: $color-special-blue;
            border: none;
        } 
    }
}