/*=============================
         REGISTER LOGIN
===============================*/

.register_login_container {
    display: flex;
    flex-direction: column;
    // border: 1px solid #999592;
    // border-radius: $border-radius-standard;
    // border-top: 5px solid #999592;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 8rem 0px 11rem 0px;
    padding: 3rem;
    min-height: 43rem;
    max-width: 50rem;

    h2 {
        margin: 0 0 1rem 0px;
        width: 100%;
        text-align: left;
        text-transform: none;
        color: #686868;
        // padding-left: rem;
    }

    input {
        border-radius: $border-radius-standard;
    }

    p{
        font-weight: 300;
        font-size: 16px;
        width: 90%;
    }
}

.register_login_container .left,
.register_login_container .right {
    flex:1
}

////////////////////////////
// Login
////////////////////////////
.login_form {
    button {
        &:hover {
            box-shadow: 7px 9px 25px -8px rgba(0,0,0,0.47); //0 2px 8px 0 rgba(0, 0, 0, 0.2), 8px 6px 2rem 0 rgba(0, 0, 0, 0.19);
        }
    }
}



////////////////////////////
// Register
////////////////////////////
.register_login_container {
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 3rem;
        letter-spacing: 1px;
        color: white;
    }

    .register_form, .login_form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 50rem;
        background: transparent;
        border: none;
        // border-radius: $border-radius-standard;

        .register_button {
            border-radius: $border-radius-standard;
            text-transform: none !important;
            width: 100%;
            background-color: $color-special-red;
            color: white;
            font-weight: 700;
            letter-spacing: 1px;
        }
    }

    input[name="email_input"] {
        background-color: $color-special-beige;
        color: white;
    }

    input[name="password_input"] {
        background-color: $color-special-blue !important;
        color: white;
    }

    .register_separator {
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        line-height: 2rem;
        margin-top: 1rem;
    }
}

.register_name, .register_email, .register_password {
    width: 100%;
}

// .button_error_label {
//     width: 80%;
// }

.register_controls {
    width: 100%;
}


.register_link {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    a {
        font-size: 1.5rem;    
        // font-weight: 700;
        color: $color-special-red;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            color: white;
        }
    }

    .form_changer {
        margin-left: 1rem;
        font-size: 1.5rem;    
        // font-weight: 700;
        color: $color-special-red;

        &:hover {
            cursor: pointer;
            color: white;
        }
    }
}

.register_form .input_and_icons {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    overflow: visible;
    height: 6rem;
}

.register_form .input_and_icons input {
    width: 20rem;
}

.register_form .input_and_icons .iconX, .input_and_icons .iconV {
    margin-left: 1rem;
    margin-right: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    color: $color-special-blue;
}

.register_form .input_and_icons .lds-dual-ring {
    display: flex;
    align-items: center;
} 