.friends_container {

    .friends_buttons {

        .btn-primary {
            margin-right: 1rem;
        }
    }

    .card_wrapper {
        .card_image {
            border-radius: $border-radius-standard;
            .card_info {
                min-height: 3rem !important;

                .card_username {
                    font-size: 1.2rem !important;
                }
                .card_city {
                    font-size: 1rem !important;
                }
            }
        }
    }
}