.group_update_profile {
    .header_container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            text-align: left;
            margin-top: 2rem;
        }

        .delete_button {
            background-color: red;
            border-color: transparent;
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
    

    .form_divider {
        margin-top: 2rem;
        border-bottom: 2px solid $color-grey-light-2;
    }

    button {
        text-transform: none !important;
        width: 12rem;
        height: 4rem;
        font-size: 1.5rem;
        border-radius: $border-radius-standard;
        letter-spacing: 0.5px;

        .lds-dual-ring {
            margin: 0;
            padding: 0;
            margin: auto;
            width: 100%;
            height: 100%;

            &:after {
                margin: auto;
                border: 2px solid;
                border-color: white transparent white transparent !important;
            }
        }
    }

    .label_inputs {
        width: 10rem;
        text-align: center;
        font-size: 1.3rem;
    }

    .input_wrapper {
        width: 89%;
    }

    textarea {
        width: 80%;
        display: block;
    }

    .lds-dual-ring {
        margin: 0;
        padding: 0;
        margin: auto;
        width: 100%;
        height: 100%;

        &:after {
            margin: auto;
            border: 2px solid;
            
            border-color: $color-special-blue transparent $color-special-blue transparent !important;
        }
    }

    input, textarea {
        border-radius: $border-radius-standard;
    }

    .formBlock-checkbox {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .label_inputs {
            border: 0;
        }

        input[type=checkbox] {
            width: 2rem;
            height: 2rem;
            // align-self: stretch;
            margin: 0;   
            margin-left: 1rem;
            margin-bottom: 0.8rem;
            background-color: white !important;
            // border: 1px solid fuchsia;
            box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
            cursor: pointer;
            // color: fuchsia !important;
        }
    }

    .dropzone.clear {
        border-radius: $border-radius-standard;
        width: 80%;
    }

    .wrap, .dropzone_box {
        border-radius: $border-radius-standard;
    }
}

.group_update_admins {
    
    color: $default-color;
    font-size: 1.2rem;

    .form_divider {
        margin-top: 2rem;
        border-bottom: 2px solid $color-grey-light-2;
    }

    .groups_list_container {

        
        .table_small_image {
            display: flex;
            justify-content: center;
        }
        
        th {
            font-size: 1.5rem;
            font-weight: 700;
        }

        .td_admin_icon {
            text-align: center;
        }

        .table_thumb {
            height:3rem;
            width: 3rem;
            border-radius: 50px;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            padding: 1rem;
            background-position: center !important;
            background-size: cover !important;
        }

        svg {
            width: 2.5rem;
            height: 2.5rem;
            
            &:hover {
                cursor: pointer;
            }
            
        }
    }
}

.group_update_members {
    color: $default-color;
    font-size: 1.2rem;

    .form_divider {
        margin-top: 2rem;
        border-bottom: 2px solid $color-grey-light-2;
    }

    .groups_list_container {

        
        .table_small_image {
            display: flex;
            justify-content: center;
        }
        
        th {
            font-size: 1.5rem;
            font-weight: 700;
        }

        .td_admin_icon {
            text-align: center;
            
            &:hover {
                color: black;
            }
        }

        .td_simple_icon {
            svg {
                color: $color-grey-dark-2;
                &:hover {
                    cursor: default;
                }
            }
        }

        .td_admin_icon_disabled {
            text-align: center;

            
            svg {
                color: $color-grey-dark-2;
                &:hover {
                    cursor: not-allowed;
                }
    
            }
        }

        .table_thumb {
            height:3rem;
            width: 3rem;
            border-radius: 50px;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            padding: 1rem;
            background-position: center !important;
            background-size: cover !important;
        }

        svg {
            width: 2.5rem;
            height: 2.5rem;
            
            &:hover {
                cursor: pointer;
            }
            
        }
    }

    .add_new_wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 1rem;

        button {
            margin-top: 0;
            margin-left: 1rem;
            width: 4rem;
            height: 4rem;
            border-radius: 3rem;
            font-size: 1.5rem;
        } 
    }

    .modal-footer {
        button {
            text-transform: none !important;
            width: 12rem;
            height: 4rem;
            font-size: 1.5rem;
            border-radius: $border-radius-standard;
            letter-spacing: 0.5px;

            .lds-dual-ring {
                margin: 0;
                padding: 0;
                margin: auto;
                width: 100%;
                height: 100%;

                &:after {
                    margin: auto;
                    border: 2px solid;
                    border-color: white transparent white transparent !important;
                }
            }
        }
    }
}