.top_row, .middle_row, .bottom_row {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 2rem;
}

.top_row {
    margin-top: 12rem;
}

.loadmorecards_products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
        align-content: center;
    }
}