.wizzard_root p {
    font-size: 3rem;
}

.wizzard_content_container {
    font-size: 2rem;
}

.wizzard_root text { // Text inside circle
    font-size: 1.5rem;
}

.wizzard_root button { // Buttons Back, next, finish
    font-size: 1.5rem;
}

.wizzard_actionsContainer {
    margin-bottom: 2rem;
  }
  
.wizzard_resetContainer {
    padding: 3rem;
}

.wizzard_root .wizzard_stepLabel { // active label
    font-size: 3rem;
}

.wizzard_root .wizzard_label { // inactive labels
    font-size: 1.5rem;
}

.wizzard_root svg {
    width: 4rem;
    height: 4rem;
    border-radius: '50%';
}

.userName_input, .email_input {
    width: 40rem;
    margin-bottom: 2rem;
}

.iconV {
    color: chartreuse;
}

.wizzard_step2 {
    width: 50%;
}

.wizzard_step2 .formBlock {
    margin-right: 1rem;
}

.birthday {
    display: flex;
    justify-content: flex-start;
    // align-items: center;
}

.wizzard_step2 .label_inputs {
    width: 8rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    text-align: center;
}

.birthDay, .birthMonth, .birthYear {
    width: 8rem !important;
    border-radius: $border-radius-standard;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    border: 1px solid lightgray;
}

.wizzard_step2 .input_and_icons {
    width: 13rem;
}