.public_profile_container {
    width: 100%;
    // background: lightpink;
}

.public_profile_container .form_divider {
    border-bottom: 1px solid rgb(211,211,211);
    margin: 2rem 0px;
}

.user_data_wrapper {
    display: flex;
    width: 100%;
    // background: lightgoldenrodyellow;
    min-height: 16rem;
}

.user_data_wrapper .public_profile_profile_image {
    width: 25%;
    height: 100%;
    background: lightblue;
    position: relative; // needed to work overflow hidden
    overflow: hidden;
    padding-bottom: 100;
}

.public_profile_card_image {
    // position: absolute; 
    // left: 0px;
    // top: 0px;
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    min-height: 16rem;
    background-position: top !important;
    background-size: contain !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


.user_data_wrapper .public_profile_user_details {
    width: 75%;
    background: lightcoral;
}

.public_profile_user_property {
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 1rem;
    margin: 1rem; 

    svg {
        margin-left: 1rem;
    }
}

.public_profile_user_property_value {
    font-size: 1.5rem;
    font-weight: 400;
}

.video_and_chat_wrapper {
    background: lightsalmon;
    display: flex;
}

.video_and_chat_wrapper .videoViewerContainer {
    width: 60%;
    display: flex;
    align-content: center;
    align-items: center;
}

.videoWrapper {
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.videoViewerContainer #videoElementViewer {
    width: 64rem;
    height: 48rem;
    background: black;
}

.public_profile_chat {
    width: 40%;
    background: lightgray;
}

.user_media_wrapper {
    background: lightslategrey;
    min-height: 22rem;
}

.user_media_container {
    background: black;
}

.main_thumbs {

    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main_thumbs .thumb {
    cursor: pointer;
    height: 20rem;
    width: 20rem;
    background-size: cover !important;
    background-position: bottom center !important;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    margin: 1rem;
}