.requests_container {

    color: $default-color;
    font-size: 1.2rem;

    a {
        color: $color-special-blue;
        &:hover{
            text-decoration: none;
        }
    }

    p {
        margin-bottom: 0;
    }

    h1 {
        font-size: 3rem;
        margin-top: 2rem;
        color: $color-font;
    }

    .form_divider {
        margin-top: 2rem;
        border-bottom: 2px solid $color-grey-light-2;
    }

    // .table_small_image {
    //     // display: flex;
    //     // justify-content: center;
    //     // width: 100%;
    //     // height: 100%;
    //     // align-items: stretch;
    //     // flex-grow: 1;
    //     // border: none;
    //     // // border: $border-post;
    //     // border-top: $border-post;
    //     // border-left: $border-post;
    //     // border-collapse: separate;
        
    // }

    th {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .td_admin_icon {
        text-align: center;
        color: $color-special-blue;
    }

    svg {
        width: 2.5rem;
        height: 2.5rem;
        
        &:hover {
            cursor: pointer;
        }
        
    }
}