.society_header_container {
    display: flex;
    flex-direction: column;
    // width: 100%;
    // min-height: 75vh;
    // margin:0;

    .society_header {
        margin-top: 1rem;
        padding-top: 2rem;
        // height: 4rem;
        // padding-top: 2rem;
        position: fixed;
        top: 10.2rem;
        // left: 30rem;
        z-index: 999;
        width: 62rem;
        // background-color: red;
        background-color: $color-standard-background;
    
        .buttons_container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 1.5rem;
    
            .menu_button, .menu_button_active{
                cursor: pointer;
    
                .btn-primary {
                    font-size: 1.5rem;
                    background-color: transparent;
                    text-transform: none;
                    color: $color-placeholder-standard;
                    border: none;
                    padding: 0;
                    margin: 0;
    
                    &:hover {
                        color: $color-special-blue;    
                    }
                }
            }
    
            .menu_button_active {
                .btn-primary {
                    color: $color-special-red !important;
                }
            }
    
            .menu_divider {
                margin-left: 1.3rem;
                margin-right: 1.3rem;
                color: $color-special-blue;
            }
        }
    }
}

.society_body {
    margin-top: 7rem;
}