*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
    background-color: black;

    @media only screen and (max-width: $bp-large) {
        // font-size: 50%;
    }

    @media only screen and (max-width: $bp-medium) {
        // font-size: 40%;
    }

    @media only screen and (max-width: $bp-smallest) {
        // font-size: 30%;
    }
}

body {
    
    width: 100%;

    margin:0;
    padding:0 !important;
    font-family: $default-font;
    color: $font-color1;

    box-sizing: border-box;

    // background-size: cover;
    // background-attachment: fixed;
    // background-position: center;
    // background-repeat: no-repeat;

    // @media only screen and (max-width: $bp-medium) {
    //     background-attachment: initial;
    // }

}

.layout {

    padding-bottom: 5rem;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    
    height: 100%;
    width: 100%;

    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.page_container {
    position: relative;
}

.home_container {
}

.bck_b_dark {
    background: #272723;
}

.dialog_alert {
    padding: 5.1rem;
    font-size: 3rem;
}

.no_result {
    font-size: 4rem;
    color: #999592;
    text-align: center;
    padding-top: 4rem;
}

.not_found_container {
    font-size: 7rem;
    text-align: center;
    padding-top: 7rem;
    color: #dddddd;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

.Toastify {
    font-size: 1.5rem;   
}